

<div class='navbar navbar-fixed-top' style='background: rgba(0,0,0,.5);color:white;height:76px;'>
	<div class="navbar-header">
	  <a class="navbar-brand" href='/' style='height:70px;padding:3px;' >
	  	<img src='{{ex_static}}images/logo.png' style='height:100%;' />
	  </a>
	</div>
	
	<div class='navbar-right' style='margin:0px;padding:5px 10px 0px 0px;'>
		<div class="navbar-collapse collapse" style='padding:10px;' >
			<div class='nav navbar-nav navbar-right' style=''>
				
			</div>
			
			
		</div>
	</div>
</div>