{% extends "skeleton.html" %}
{% load thumbnail %}

{% block style %}
<style type="text/css" media="screen">

* {
	text-align: center;
}

input {
	text-align:left;
}
.whiteHighlight {
	  background: rgba(255,255,255,.6);
	  border: thin solid #fff;
	  border-radius: 4px;
	  display: inline-block;
	  padding: 10px;
}

</style>
{% endblock %}

{% block content %}

{% include 'header.html' %}

<div class='row col-xs-12'>
	<div class='col-xs-8 col-xs-offset-2'>
		{% include 'score.html' %}
	</div>
</div>
{% endblock %}

{% block script %}
<script>

$(window).load(function(){
	
});

</script>
{% endblock %}



