{% extends "skeleton.html" %}

{% block style %}
{% endblock %}

{% block content %}
<body id="body" class="" style='background:#151515;'>
<div id="page-wrapper">
<div id="page" style='padding-top: 80px;margin:0px auto;color:white;'>
	
{% include "header.html" %}
<div style="clear:both"></div>

{% if message and message != '' %}<div class='message' style='font-size: 1.2em;color: white;text-align: center;padding: 10px;background: #4ca745;' >{{message}}</div>{%endif%}
{% if error and error != '' %}<div class='message' style='font-size: 1.2em;color: white;text-align: center;padding: 10px;background: rgb(176, 0, 0);' >{{error}}</div>{%endif%}

<div id="body-container">
  <div class="wrapper">
    <div class="main-content">
    	<div class=' settings-content'><div class='row'>
			<div class='col-sm-11 col-sm-offset-3'><h2>Change Password</h2></div>
		</div>
		<form action="/user/passwordrecovery" method="post" class='passwordForm' onsubmit="return passwordValidate()">
			{% csrf_token %}
			<input type='hidden' name='id' value='{{tempuser.id}}' />
			<div class='row'>
				<div class='col-sm-2 col-sm-offset-1 inputlabel' style='text-align: right;margin-top: 15px;'>New Password</div>
				<div class='col-sm-6'><div><input type='password' name='password' /></div></div>
				<div class='col-sm-3'></div>
			</div>
			<div class='row'>
				<div class='col-sm-2 col-sm-offset-1 inputlabel' style='text-align: right;margin-top: 15px;'>Confirm Password</div>
				<div class='col-sm-6'><div><input type='password' name='repassword' /></div></div>
				<div class='col-sm-3'></div>
			</div>
			<div class='row'>
				<div class='col-sm-2 col-sm-offset-1'></div>
				<div class='col-sm-6'><input class='button orange' type='submit' name='change' value='Change Password' /></div>
				<div class='col-sm-3'></div>
			</div>
		</form>
		<br><br>
		</div>
	</div>
  </div>
</div>

</div></div>
</body>

{% endblock %}

{% block script %}
<script>
function passwordValidate(){
	if ($('.passwordForm input[name=password]').val() != $('.passwordForm input[name=repassword]').val()){
		$('.passwordForm input[name=password]').parent().prepend('<div class="errorCode" style="color:red;">Passwords must match.</div>')
		return false;
	}
	if (!checkPassword($('.passwordForm input[name=password]'))){
		return false;
	}
	
}
</script>
{% endblock %}

